@tailwind base;
@tailwind components;
@tailwind utilities;

td,th{
    border: 0.5px solid grey;
    padding:8px;
}
#search{
    background: url('./assets/icons8-search-50.png') no-repeat;
    background-position-y: 40%;
    background-position-x: 90%;
    background-size: 18px;

}